body {
    font-family: 'Arial', sans-serif;
  }
  
  #taskInput {
    border-radius: 10px;
  }
  
  #addTaskBtn, #clearTaskBtn {
    border-radius: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    color: grey;
  }
  
  #taskList li {
    border-radius: 8px;
    margin-bottom: 8px;
  }
  